
.icon-chart-bar:before { content: '\e800'; } /* '' */
.icon-list-alt:before { content: '\e801'; } /* '' */
.icon-flight:before { content: '\e802'; } /* '' */
.icon-params:before { content: '\e803'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
